@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:wght@100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:wght@100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Yusei+Magic&display=swap');
.swiper-slide{
    display: flex;
    flex-direction: row;
    /* border: solid 2px blue; */
    justify-content: space-around;
    /* margin: 60px; */
    
}
.saira-condensed-thin {
    font-family: "Saira Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 55px;
    margin: 70px;
  }
  .saira-condensed-thinspan{
    font-family: "Saira Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 45px;

  }
.boxswiper{
    width: 580px;
   
}
.img-carrusel{
    border-radius: 20px;
    width: 400px ;
    height: 250px;
}
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
  }
  .yusei-magic-regular {
    font-family: "Yusei Magic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: rgb(71, 73, 75);
  }