@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:wght@100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:wght@100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Yusei+Magic&display=swap');
.yusei-magic-regulartitle{
  font-family: "Yusei Magic", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 90px;
  color: rgb(224, 92, 4);

}
.saira-condensed-thin-carruselIndex{
  font-family: "Saira Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 31px;
    color: #2e2c2cfd;
  
}
.pixel1{
background-color: rgba(252, 249, 249, 0.205);
height: 600px;

}
.pixel2{
  background-image: url('https://www.lombaoestudios.com/sites/default/files/slider/Propuesta%201_Banner%20del%20Home.%20Medida%201280x536.jpg');
  margin: 0px auto;
  display: flex;
  justify-content: center; 
  justify-content: center;

  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  height: 600px;
  background-attachment: fixed; 
   overflow: hidden
}

.pixel3{
  background-image: url('https://www.lombaoestudios.com/sites/default/files/slider/Medidas%20del%20Banner_Banner%20del%20Home.%20Medida%201280x536%20copia%202.jpg');

  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  height: 600px;
  background-attachment: fixed; 
   overflow: hidden

}
.swiper-index{
  height: 560px;
}
.seccionIndex{
  margin: 0px;
}
/* swiper edition */
.swiper-button-prev,
.swiper-button-next {
  background-color: #ff8251; 
  color: #fff; 
  border-radius: 100%; 
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}
.swiper-button-prev:hover,
.swiper-button-next:hover{
background-color: #f7b188;
}
.swiper-pagination-bullet {
  background-color: #585454; 
  width: 40px; 
  height: 6px; 
  opacity: 0.7;
  transition: opacity 0.3s;
  border-radius: 0; 
  transform: rotate(-0deg); 
  border-radius: 10px;
}
.swiper-pagination-bullet-active {
  background-color: #007bff; 
  opacity: 1;
}
.seccion-carrusel{
    background-color: rgba(212, 216, 219, 0.726);
    border-radius: 20px;
    /* display: flex; */

}
.swiper-slide{
    display: flex;
    flex-direction: row;
 
    justify-content: space-around;

    
}
.saira-condensed-thin {
    font-family: "Saira Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 43px;
    margin: 110px;
    color: rgb(255, 255, 255);
  }
  .saira-condensed-thinspan{
    font-family: "Saira Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 45px;
    font-size: 43px;
    margin: 110px auto;

  }
  .saira-condensed-thinspantitle{
    font-family: "Saira Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 45px;
    font-size: 43px;
    margin: 110px auto;

  }
.boxswiper{
    width: 580px;
   
}
.img-carrusel{
    border-radius: 20px;
    width: 400px ;
    height: 250px;
}
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
  }
  .yusei-magic-regular {
    font-family: "Yusei Magic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: rgb(71, 73, 75);
  }
  .estilobutton{
    background-color: rgb(197, 59, 4);
          color: white;
          font-family: sans-serif;
          font-weight: bold;
          border-radius: 10px;
          border: none;
          width: 150px;
          height: 50px;
    
          cursor: pointer
}
  .solicitar{
    color: rgb(223, 88, 65);
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    text-decoration: none;
    
  }
  .title-carrusel{
    margin: 60px;
    font-size: 45px;
    font-family: "Saira Condensed", sans-serif;
    font-weight: 500;
    color: black;
  }
 
  @media only screen and (max-width: 700px) {
   .swiper-slide{
    flex-wrap: wrap;
   }
   .img-carrusel{
    width: 100%;
    height: 350px;
   }
   .saira-condensed-thin{
    font-size: 47px;
    margin: 50px;
   }
}
@media only screen and (max-width: 500px) {
  
   .pixel2{
    width: 100%;
   }
   .saira-condensed-thinspantitle{
    width: 100%;
    font-size: 45px;
   
   }
   
   
   
   .saira-condensed-thin-carruselIndex{
    font-size: 17px;
    font-weight: 600;
    color: black;
   }
   .swiper-index{
    height: 470px;
   }
   
   .yusei-magic-regulartitle{
    font-size: 46px;
   }
   .img-carrusel{
    width: 100%;
    height: 310px;

   }
   .swiper-button-prev,
   .swiper-button-next{
    background-color: #007bff00;
   }
   .saira-condensed-thin{
    font-size: 42px;
    margin: 50px;
   }
   .yusei-magic-regular{
    font-size: 20px;
   }
  .estilobutton{
    margin: 0px auto;
  }
       }