@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:wght@100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:wght@100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Yusei+Magic&display=swap');
body{
    overflow-x: hidden;
    background: url(/img/bg.png);
    font-family: sans-serif;
}
.secctioninicial{
    display: flex;
    justify-content: space-around;
   

  
}
.imgmain{
    width: 500px;
}
.titleinit{
    font-weight: bold;
    font-family: sans-serif;
    font-size: 70px;
    color: rgb(0, 0, 0);
}
.parrafosinit{
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 20px;
    /* margin: 0px -100px; */

}

/* pixel info */
.material-symbols-outlined{
    font-size: 60px;
}
.roboto-thin-nosotros {
    font-family: "Roboto", sans-serif;
    font-weight: bold ;
    font-style: normal;
    font-size: 38px;
    margin: 130px;
    color: rgb(255, 246, 246);
   
  }
  .roboto-thininfo {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: rgb(43, 42, 42);
  }
  .subtitle{
    color: white;
    font-weight: bold;
    font-size: 50px;
  }
.nosotros{
    width:900px ;
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: center;
    /* margin: 50px; */
}
.sectioninfo{
    background-color: #ce4949;
  
}
.caja{
    margin: 100px auto;
    display: flex;
    justify-content: center; 
    justify-content: center;
    background-image: url("https://www.lombaoestudios.com/themes/martis/assets/images/bg/portfolio.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    height: 600px;
    background-attachment: fixed; 
     overflow: hidden
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40;
    color: rgb(255, 72, 0);
  
    
  }  

  .boxfather{
    display: flex;
    justify-content: space-between;
  
  }
  .boxson{
    font-weight: bold;
    padding: 10px 10px;
    flex-direction: column;
    text-align: center;
    width: 300px;
    height: auto;
    background-color: rgb(241, 240, 238);
     color: rgb(17, 17, 17);
    border-radius: 10px;
    margin: 50px auto 50px;
    border: solid rgb(27, 26, 26) 4px ;
    
    
  }
  #title-caja{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
  }
/* section 2 */
.roboto-thinpixel{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: rgb(250, 226, 226);
  }
.secctionpixel{
 
    display: flex;
    justify-content: space-around;
    margin: 60px;
   }
   .pixel1{
    width:600px;
    margin: 60px auto;
    
    color: white;
   }
   .pixelinfo{
    width:600px;
    margin: 60px auto;
    
    color: white;
   }
   .verMas{
     width: 150px;
     height: 50px;
     border: none;
     background-color: rgb(218, 96, 96);
     border: solid 1px white;
     border-radius: 5px;
     color: white;
     font-weight: bold;
     cursor: pointer;
   
   }
   .verMas:hover{
     background-color: azure;
     color: black;
   }
@media only screen and (max-width: 700px) {
    .secctioninicial{
    flex-wrap: wrap;
    }
    .secctionpixel{
        flex-wrap: wrap;
    }
    .pixelinfo{
        margin: 60px;

    }
    .pixel{
        margin: 20px auto;
    }
    .title{
        font-size: 70px;
        margin: 0px 40px;
    }
    .parrafo{
        margin: 0px 40px;
    }
    .estilobutton{
        margin: 0px 40px;
    }
    .imgmain{
        margin: 40px auto;
    }
   .boxfather{
    display: flex;
    flex-wrap: wrap;
   }
}
@media only screen and (max-width: 450px) {
 
  .nosotros{
    width: 100vh;
    border: solid 2px black;
    height: 20px;
   
    
    
    
 
   
  }

  
    .secctioninicial{
        flex-wrap: wrap;
    
    }
  
    .imgmain{
      width: 350px;
     
  
    }
    .imgpix{
      margin: 0px -100px;
    }
   
    .img{
      margin: 100px auto;
    }
    
    .boxfather{
        display: flex;
        flex-wrap: wrap;
       }
       .sectioninfo{
        margin: auto auto;
        width: 500px;
       }
       .imgmain{
        margin: auto auto;
       }
       .caja{
        margin: 60px auto;
        width:auto  ;
    
        
        text-align: center;
       }
       .roboto-thin-nosotros{
        font-size: 21px;
        
       }
       .boxson{
        width: 1000px;
        height: 500px;
       }
       .secctionpixel{
        
        
          width: 100%; 
        margin: 0px -10px;
         
        
      }
      .pixelinfo{
        text-align: start;
      }

       
     
       #title-caja{
        font-size: 39px;
       }
       .roboto-thin{
        font-size: 22px;
       }
       .roboto-thinpixel{
        text-align: start;
        font-size: 20px;
       }
       .material-symbols-outlined{
        font-size: 90px;
       }
       .parrafosinit{
        font-size: 15px;
        margin: 20px;
        text-align: start;
       }
      .pixel{
        width: 100%;
  
        
      
      }
      .caja{
        height: 800px;
      }
      .saira-condensed-thin{
        width: 84%;
        text-align: start;
        font-size: 20px;
   
      }
      .nosotros{border: solid black 2px;

        margin: 0px -40px;
      }
      .titleinit{
        color: #030303;
        text-align: start;
        font-size: 50px;
      }
      /* .pixel1 h1{
       font-size: 35px;
       font-weight: 600;
       margin: 10px;
      } */
       }