body{
    overflow-x: hidden;
    background: url(/img/bg.png);
    font-family: sans-serif;
}
.secctioninicial{
    display: flex;
    justify-content: space-around;

  
}
.imgmain{
    width: 500px;
}
.title{
    font-weight: bold;
    font-family: sans-serif;
    font-size: 70px;
    color: rgb(0, 0, 0);
}
.parrafos{
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 20px;
    /* margin: 0px -100px; */

}
.estilobutton{
    background-color: rgb(197, 59, 4);
          color: white;
          font-family: sans-serif;
          font-weight: bold;
          border-radius: 10px;
          border: none;
          width: 150px;
          height: 50px;
    
          cursor: pointer
}
/* pixel info */
.material-symbols-outlined{
    font-size: 60px;
}
.roboto-thin-nosotros {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    color: white;
  }
  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: rgb(68, 66, 66);
  }
  .subtitle{
    color: white;
    font-weight: bold;
    font-size: 50px;
  }
.nosotros{
    width: 530px ;
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: center;
    /* margin: 50px; */
}
.sectioninfo{
    background-color: #ce4949;
}
.caja{
    margin: 100px auto;
    display: flex;
    justify-content: center;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40;
    color: rgb(255, 72, 0);
  
    
  }  
  .boxfather{
    display: flex;
    justify-content: space-between;
  }
  .boxson{
    font-weight: bold;
    padding: 10px 10px;
    flex-direction: column;
    text-align: center;
    width: 300px;
    height: auto;
    background-color: rgb(241, 240, 238);
     color: rgb(17, 17, 17);
    border-radius: 10px;
    margin: 0 auto 50px; /* M치rgenes autom치ticos en los lados */
    
    
  }
  #title-caja{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 23px;
  }
/* section 2 */
.roboto-thinpixel{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: rgb(250, 226, 226);
  }
.secctionpixel{
 
    display: flex;
    justify-content: space-around;
    margin: 60px;
   }
   .pixel1{
    width:600px;
    margin: 60px auto;
    
    color: white;
   }
   .verMas{
     width: 150px;
     height: 50px;
     border: none;
     background-color: rgb(218, 96, 96);
     border: solid 1px white;
     border-radius: 5px;
     color: white;
     font-weight: bold;
     cursor: pointer;
   
   }
   .verMas:hover{
     background-color: azure;
     color: black;
   }
@media only screen and (max-width: 700px) {
    .secctioninicial{
        flex-wrap: wrap;
    }
    .secctionpixel{
        flex-wrap: wrap;
    }
    .pixel1{
        margin: 60px;

    }
    .pixel{
        margin: 20px auto;
    }
    .title{
        font-size: 70px;
        margin: 0px 40px;
    }
    .parrafo{
        margin: 0px 40px;
    }
    .estilobutton{
        margin: 0px 40px;
    }
    .imgmain{
        margin: 40px auto;
    }
   .boxfather{
    display: flex;
    flex-wrap: wrap;
   }
}
@media only screen and (max-width: 450px) {
    .secctioninicial{
        flex-wrap: wrap;
      
    }
  
    .imgmain{
      width: 400px;
     
  
    }
    .imgpix{
      margin: 0px -100px;
    }
   
    .img{
      margin: 100px auto;
    }
    .boxfather{
        display: flex;
        flex-wrap: wrap;
       }
       .sectioninfo{
        margin: auto auto;
        width: 500px;
       }
       .imgmain{
        margin: auto auto;
       }
       .caja{
        margin: 60px auto;
        width:auto  ;
        
        text-align: center;
       }
       .roboto-thin-nosotros{
        font-size: 21px;
        
       }
       .boxson{
        width: 1000px;
        height: 500px;
       }
       .pixel1{
      
        
          max-width: 100%; /* Ancho completo en pantallas muy peque침as */
          margin: 30px 0; /* Ajusta los m치rgenes para un espaciado adecuado */
        
      }


       
     
       #title-caja{
        font-size: 39px;
       }
       .roboto-thin{
        font-size: 22px;
       }
       .roboto-thinpixel{
        text-align: center;
       }
       .material-symbols-outlined{
        font-size: 90px;
       }
       .parrafos{
        font-size: 23px;
        margin: 20px;
       }
      .pixel{
        width: 400px;
        margin: 0px -30px;
        /* border: solid 2px black; */
      }
      .title{
        font-size: 10px;
        margin: auto auto;
      }
       }