
.menuportafolio{
   
    width: 700px ;
    height: 50px;
    display: flex;
    margin: 0px auto;

}
.proyecto{

    width: 430px;
    margin: 20px 10px;
    height: 360px;
    border-radius: 10px;
    position: relative;
    background-color: rgb(255, 236, 236);
}
.imgproyecto{
    width: 430px;
    height: 360px;
    border-radius: 10px;

} 
.proyectos-padre{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.saira-condensed-thinspanportafolio{
    font-family: "Saira Condensed", sans-serif;
    font-weight:bold;
    font-style: normal;
  align-items: center;
    font-size: 25px;
    /* margin: 40px; */
    margin: 0px 15px;
  }
  .saira-condensed-thinspanportafolio:hover{
    color: rgb(223, 92, 17);
    cursor: pointer;
  }
  
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(131,13,59);
background: linear-gradient(90deg, rgba(131,13,59,0.5858718487394958) 0%, rgba(48,14,50,0.8379726890756303) 100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; 
    border-radius: 10PX;
    opacity: 0;
   
     transition: opacity 0.2s ease; 
    z-index: 10
}

.overlay:hover .divoverlay {
    transform: translateY(0); 
    opacity: 1; 
}
.saira-condensed-thin-overlay{

    font-family: "Saira Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 35px;
 
 

  }
  .saira-condensed-thin-overlay{
        animation: moveUp 1s ease-out forwards;
  }
  .divoverlay {
    color: rgb(233, 245, 255);
    text-align: center;
    transform: translateY(100%); /* Estado inicial fuera de vista */
    opacity: 0; /* Oculto inicialmente */
    transition: transform 0.5s ease-out, opacity 0.5s ease-out; /* Animación en hover */
}
.overlay p{
    font-size: 20px;
    font-family: sans-serif;
}
.overlay:hover{
    opacity: 1;
}
.imgproyecto:hover{
    opacity: 0.2;

}

