.title-meto{
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 65px;
    margin: 50px;
    color: rgb(31, 29, 29);
}
.seccionmetodologia{
    overflow-x: hidden;
    margin: 30px;
    /* background-image: url("/img/imgmeto.jpg"); */
    
}
.parrafo-meto{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
}
@media only screen and (max-width: 700px) {
    
}
@media only screen and (max-width: 500px) {
 .title-meto{
    font-size: 55px;
 }
 .parrafo-meto{
    font-size: 23px;
 }
  
       }