


footer{
    width: 100%;
    height: auto;  
    background-color: rgb(242, 242, 255);
   
    
    }
    .footerContainer{
      margin: 30px 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    
    }
  
    .flex1, .flex2, .flex3, .flex4, .flex5 {
      font-weight: bold;
      margin: 50px; 
    }
    
    .bi{
      margin: 10px;
      font-size: 20px;
      color:  rgb(95, 97, 97);
    }
    footer p{
      color: rgb(122, 122, 122);
    } @media only screen and (max-width: 700px) {
      .secctioninicial{
          flex-wrap: wrap;
      }
      .secctionpixel{
          flex-wrap: wrap;
      }
      .pixel1{
          margin: 60px;
      }
      .pixel{
          margin: 20px auto;
      }
      .title{
          font-size: 70px;
          margin: 0px 40px;
      }
      .parrafo{
          margin: 0px 40px;
      }
      .estilobutton{
          margin: 0px 40px;
      }
      .imgmain{
          margin: 40px auto;
      }
     .boxfather{
      display: flex;
      flex-wrap: wrap;
     }
  }
  @media only screen and (max-width: 450px) {
    footer{
      width: 455px;
  }
  .footerContainer{
     justify-content: space-evenly;
  }
  }